.forecast-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  flex: 1;
  flex-basis: 50%;
  color: #fff;
  transition: background-color .5s ease-in-out;

  &:hover {
    background-color: #f20089;
    cursor: pointer;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
}
